<%- include('./common/header.ejs')%>
<body>
    <%- include('./common/navbar.ejs')%>
    
    <h1>Welcome to Our Blog!</h1> 
    <p>This blog shares insights, stories, and experiences.</p>
    <p>Stay tuned for our latest posts!</p> 
    <ul class="post_lists">

    </ul>

    <%- include('./common/footer.ejs') %>
</body>
</html>