<%- include('./common/header.ejs')%>
<body>
    <%- include('./common/navbar.ejs')%>
    <h1>
        Projects || Listed
    </h1>
    
    <div class="project-list">
        <div class="project"></div>
            <h2>Project 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum ac nisi commodo viverra id at lectus.</p>
            <a href="#">Read More</a>
        </div>
    </div>
    <%- include('./common/footer.ejs') %>
</body>
</html>